.screen {
  border-top: 5px solid rgb(218, 218, 218);
}

.screen > div {
  width: 100%;
  height: 50px;
  background: linear-gradient(
    180deg,
    rgba(144, 144, 144, 1) 0%,
    rgba(144, 144, 144, 0.9) 10%,
    rgba(144, 144, 144, 0.8) 20%,
    rgba(144, 144, 144, 0.7) 30%,
    rgba(144, 144, 144, 0) 100%
  );

  clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
}

/* Ghế Thường */
.ghe {
  @apply w-9 h-9 rounded-md flex flex-col justify-between items-center p-1;
}

.ghe > div:first-child {
  @apply flex-1 flex justify-center items-center;
}

.ghe > div:last-child {
  @apply w-10/12 h-1/6 bg-slate-200 rounded-sm;
}

.gheThuong {
  @apply bg-slate-600 cursor-pointer;
}

.gheVip {
  @apply bg-yellow-500 cursor-pointer;
}

.gheDangChon {
  @apply bg-green-500 cursor-pointer;
}

.gheDuocMua,
.gheDaMua {
  @apply bg-cyan-500 cursor-not-allowed;
}

.gheDaMua {
}

.gheDuocMua i {
  @apply text-slate-200;
}
